@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

header{
    width: 100%;
    background-color: #222222;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
}

.pizza-1{
    align-items: center;
    width: 234px;
    height: 80px;
    padding: -5px;
    font-size: 24px;
}

.pizza-logo{
    align-items: center;
    margin-left: 20px;
}

.pizza-green{
    color: green;
    font-size: 24px;
    font-weight: bold;
}

.pizza-red{
    color: red;
    font-size: 24px;
    font-weight: bold;
}

.pizza-2{
    font-size: 16px;
    display: flex;
    width: 284px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

ul{
    list-style: none;
    top: 40px;
    left: 720px;
}

ul li{
    display: inline-block;
    align-items: center;
}
